<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    </configSections>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
            <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="connection.connection_string">Data Source=localhost\TESTERIC;Initial Catalog=TestEric;Integrated Security=True</property>
            <property name="show_sql">true</property>
            <!--mapping hibernate-configuration="NHibernateDataAccess" / -->
        </session-factory>
    </hibernate-configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
    <!-- Standard sections -->
    <appSettings>
        <add key="prenom" value="nico"/>
        <add key="nom" value="pyright"/>
    </appSettings>

    <connectionStrings>
        <add name="MyConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\TESTERIC;Initial Catalog=TestEric;Integrated Security=True"/>
    </connectionStrings>

</configuration>